{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dssssssssssssssssss</title>
</head>
<body>


{% block content %}
<main id="main">

	<div class="container">
		
		<div class="row section topspace">
			<div class="col-md-12">
				<p class="lead text-center text-muted">Laisse-moi te dire quelque chose mon ami. l'espoir est une chose dangereuse. l'espoir peut rendre un homme fou. vous vous mesurez par les gens qui se mesurent par vous. cela ne m'a pris que six jours.<a href="/">measure</a> yourself by the people who measure themselves by you. it only took me <a href="">six days</a>. </p>
			</div>
		</div> <!-- / section -->
		
		<div class="row section featured topspace">
			<h2 class="section-title"><span>Services</span></h2>
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<h3 class="text-center">Custom website design</h3>
					<p>Je ne pense pas qu'ils aient essayé de le commercialiser auprès de la foule des milliardaires, des spéléologues et des base-jump. j'ai fait la même chose à gandhi, il n'a pas mangé pendant trois semaines. J'ai entendu une fois un homme sage dire qu'il n'y a pas d'hommes parfaits.</p>
					<p class="text-center"><a href="" class="btn btn-action">Savoir plus</a></p>
				</div>
				<div class="col-sm-6 col-md-3">
					<h3 class="text-center">Wordpress integration</h3>
					<p>Je ne pense pas qu'ils aient essayé de le commercialiser auprès de la foule des milliardaires, des spéléologues et des base-jump. j'ai fait la même chose à gandhi, il n'a pas mangé pendant trois semaines. J'ai entendu une fois un homme sage dire qu'il n'y a pas d'hommes parfaits.</p>
					<p class="text-center"><a href="" class="btn btn-action">Savoir plus</a></p>
				</div>
				<div class="col-sm-6 col-md-3">
					<h3 class="text-center">Application development</h3>
					<p>Je ne pense pas qu'ils aient essayé de le commercialiser auprès de la foule des milliardaires, des spéléologues et des base-jump. j'ai fait la même chose à gandhi, il n'a pas mangé pendant trois semaines. J'ai entendu une fois un homme sage dire qu'il n'y a pas d'hommes parfaits.</p>
					<p class="text-center"><a href="" class="btn btn-action">Savoir plus</a></p>
				</div>
				<div class="col-sm-6 col-md-3">
					<h3 class="text-center">SEO &amp; SEM services</h3>
					<p>Je ne pense pas qu'ils aient essayé de le commercialiser auprès de la foule des milliardaires, des spéléologues et des base-jump. j'ai fait la même chose à gandhi, il n'a pas mangé pendant trois semaines. J'ai entendu une fois un homme sage dire qu'il n'y a pas d'hommes parfaits.</p>
					<p class="text-center"><a href="" class="btn btn-action">Savoir plus</a></p>
				</div>
			</div>
		</div> <!-- / section -->
	
		<div class="row section recentworks topspace">
			
			<h2 class="section-title"><span>Travail recent</span></h2>
			
			<div class="thumbnails recentworks row">
				
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="">
						<span class="img">
							<img src="{% static 'assets/images/s1.jpg' %}" alt="">
							<span class="cover"><span class="more">Voir en detail &rarr;</span></span>
						</span>
						<span class="title">Solutions Big Data</span>
					</a>
					<span class="details"><a href="">Création de sites web</a> | <a href="">Wordpress</a> | <a href="">Logotype</a></span>
					<h4></h4>
					<p></p>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="">
						<span class="img">
							<img src="{% static 'assets/images/s1.jpg' %}" alt="">
							<span class="cover"><span class="more">Voir en detail &rarr;</span></span>
						</span>
						<span class="title">Services de développement pour les personnes</span>
					</a>
					<span class="details"><a href="">Création de sites web</a> | <a href="">Wordpress</a></span>
					<h4></h4>
					<p></p>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="">
						<span class="img">
							<img src="{% static 'assets/images/s1.jpg' %}" alt="">
							<span class="cover"><span class="more">Voir en detail &rarr;</span></span>
						</span>
						<span class="title">Conception d'intérieur et de terrasse</span>
					</a>
					<span class="details"><a href="">Création de sites web</a> | <a href="">Logotype</a></span>
					<h4></h4>
					<p></p>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="">
						<span class="img">
							<img src="{% static 'assets/images/s1.jpg' %}" alt="">
							<span class="cover"><span class="more">Voir en detail &rarr;</span></span>
						</span>
						<span class="title">Pure ipsum - Services de développement pour les personnes</span>
					</a>
					<span class="details"><a href="">Création de sites web</a> | <a href="">Wordpress</a></span>
					<h4></h4>
					<p></p>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="">
						<span class="img">
							<img src="{% static 'assets/images/s1.jpg' %}" alt="">
							<span class="cover"><span class="more">Voir en detail &rarr;</span></span>
						</span>
						<span class="title">Lorem studios - Conception d'intérieur et de terrasse</span>
					</a>
					<span class="details"><a href="">Création de sites web</a> | <a href="">Logotype</a></span>
					<h4></h4>
					<p></p>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="">
						<span class="img">
							<img src="{% static 'assets/images/s1.jpg' %}" alt="">
							<span class="cover"><span class="more">Voir en detail &rarr;</span></span>
						</span>
						<span class="title">Lorem studios - Conception d'intérieur et de terrasse</span>
					</a>
					<span class="details"><a href="">Création de sites web</a> | <a href="">Logotype</a></span>
					<h4></h4>
					<p></p>
				</div>
			</div>

		</div> <!-- /section -->

		<div class="row section topspace">
			<div class="panel panel-cta">
			<div class="panel-body">
			{% if messages %}
			{% for message in messages %}
			<div class="alert alert-secondary" role="alert">
				{{message}}
			</div>
			{% endfor %}
			{% endif %}
			  <form action="" method="POST">
				{% csrf_token %}
				<div class="col-lg-8">
					
					{{form.as_p}}
					
					<p>Une boîte d'appel à <b>l'action simple et attrayante</b>
					. La boxe est une question de respect. l'obtenir pour vous-même et l'enlever à l'autre gars. Non, c'est le mont Everest.	
					</p>

				</div>
				<div class="col-lg-4 text-right">
					<button class="btn btn-primary btn-lg">Newsletter</button>
				</div>
			 </form>
			
			</div></div>
		</div> <!-- /section -->

		<div class="row section clients topspace">
			<h2 class="section-title"><span>Clients</span></h2>
			<div class="col-lg-12">
				<p>
					<img src="{% static 'assets/images/sample_clients.png' %}" alt="">
				</p>
			</div>
		</div> <!-- /section -->

		
	</div>	<!-- /container -->

</main>
{% endblock %}
</body>
</html>