{% extends 'base.html'%}

{% block content %}
<div class="container">
    <p class="text-center mt-3">Recherche de {{ query }}, {{counter}} Nombre d'article trouvé </p>
    <div class="row">
        {% for article in list_article %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a class="thumbnail" href="{% url 'detail' article.id %}">
              <span class="img">
               
                {% if article.image == "http://default" %}
                <img src="https://th.bing.com/th/id/OIP.xosjExMD08GLQjE6hqJvggHaEo?w=249&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="">
                {% else %}
                <img src="{{ article.image.url }}" class="card-img-top" alt="">
                {% endif %}
                <span class="cover"><span class="more">Developper&rarr;</span></span>
              </span>
              <span class="title">{{ article.title }}</span>
            </a>
            <span class="details"><a href="{% url 'detail' article.id %}">{{ article.desc|truncatewords:8 }}</a> | <a href="{% url 'detail' article.id %}">Publié il y'a {{ article.created_at | timesince }}</a></span>
            <h4></h4>
            <p></p>
          </div>
        <!-- <div class="col-12 col-md-6 col-lg-3 col-xl-3">
            
            <div class="card mb-3 p-2">
                {% if art.image == "http://default" %}
                <a href="{% url 'detail' article.id %}">
                    <img src="https://th.bing.com/th/id/OIP.xosjExMD08GLQjE6hqJvggHaEo?w=249&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="" style="max-width: 180px;">
                </a>
                {% else %}
                <a href="{% url 'detail' article.id %}">
                    <img src="{{ article.image.url }}" alt="card image cap" class="card-img-top" style="max-width: 200px;">
                </a>
                {% endif %}
                <div class="card-body" style="height: 240px;">
                    <h4 class="card-title"><a href="{% url 'detail' article.id %}"> {{ article.title }} </a></h4>
                    <p class="card-text"> {{ article.desc|truncatewords:8}} </p>
                    <p class="card-text">Publié il y'a {{ article.created_at|timesince }}</p>

                    <a href="{% url 'detail' article.id %}" class="btn btn-primary">
                        DEVELOPPER
                    </a>
                </div>
            </div>
        </div> -->
        {% endfor %}
    </div>
</div>
{% endblock %}